<center>
    <table bgcolor="white" cellpadding="12" border="1">
        <tr>
            <td colspan="2">
                <center>
                    <h1><i><b>Login
Area</b></i></h1></center>
            </td>
        </tr>
        <tr>
            <td>
                <h1><i><b>UserID:</b></i></h1></td>
            <td>
                <input name="id" type="text" ng-model="username">
            </td>
        </tr>
        <tr>
            <td>
                <h1><i><b>Password:</b></i></h1></td>
            <td>
                <input name="pass" type="password" ng-model="password">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <input type="button" value="Login" ng-click="Login()">
                </center>
            </td>
        </tr>
    </table>
</center>
